* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
    background: skyblue;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: blue;
    font-size: 50px;
    font-weight: 900;
}


.formulario{
    width: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.input {
    width: 300px;
    height: 50px;
    padding: 10px;

}

.boton-agregar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.input::placeholder {
    padding-left: 20px;
    font-size: 15px;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.item-container {
    width: 250px;
    height: 30px;
    padding: 6px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    background: white;
}

.boton-editar {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    display: inline-block;
}

.boton-remover {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    display: inline-block;
}

.item {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.container {
    width: 500px;
    height: 700px;
}